PORT=5000
MONGODB_URI=mongodb://meevi200903_db_user:Kunal_12345@ac-ewxpqmv-shard-00-00.8bab4tg.mongodb.net:27017,ac-ewxpqmv-shard-00-01.8bab4tg.mongodb.net:27017,ac-ewxpqmv-shard-00-02.8bab4tg.mongodb.net:27017/instant-mechanic?ssl=true&replicaSet=atlas-l5c90r-shard-0&authSource=admin&appName=Cluster0
CLIENT_URL=http://localhost:3000